*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color:white;
    font-weight: 800;
}
main{
    margin-top: 25px;
    text-align: left;
}
.container{
    text-align: center;
}
